[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-contrib-python = "*"
swissarmyknife = "*"
loguru = "*"

[dev-packages]
black = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pylint = "*"
tox = "*"
tox-wheel = "*"
flake8 = "*"
pyproject-flake8 = "*"

[requires]
python_version = "3.8"
